colorback = black
colorfont = #f6f5ee	 
fontgeneral = 'Open Sans', sans-serif;
body 
	padding-top 10px
	background-color colorback
	font-color colorfont
	font-family fontgeneral
	color #e95b23
.navbar-default
	background-color colorback
	font-color colorfont
	font-size 1.5em
	border none
	 
	
	 
.navbar-fixed-top .nav  
	padding 15px 0
	background-color colorback 
.navbar-fixed-top .navbar-brand 
	padding 0 15px
.navbar-default .navbar-nav>li>a
	color colorfont
.navbar-default .navbar-nav>li>a:hover
	background-color colorfont 
.hdtitulo
	font-size 1.5em
	font-family fontgeneral
	color #f48020
h1,h2
	color colorfont
	font-family fontgeneral

@media screen and (max-width:768px)
	body
		padding-top 3px
	.navbar-fixed-top .navbar-brand
		padding: 15px 0	